@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

header {
  background-color: #f2f2f2ff;
  padding-top: 25vh;
  border-bottom: solid 2px #d3d3d3;
}



h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p.header-text {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

span.icons {
  margin-left: .6em;
}


.container {
  width: 70vw;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.work-item {
  margin: 40px 0px;
  /* padding-bottom: 40px; */
}

.logo img {
  width: 100px;
  float: right;
  margin: 3px 12px 3px 0px
}

.preview {
  flex-wrap: wrap;
  display: flex;
}

.code-block {
  min-width: 33%;
  max-width: 66%;
}

.code-block.large {
  min-width: 60%;
  max-width: 80%;
}

pre {
  overflow-y: auto;
  /* padding: 0.5rem 1rem; */
  font-size: 14px;
  border: solid 1px #d3d3d3;
  margin: 10px;
}

pre code.hljs {
  background-color: #f9f9f9;
}

a {
  color: #535d6c;
  text-decoration: none;
}

a:hover {
  color: #214478 !important;
  text-decoration: underline;
}

a:visited {
  color: #535d6c;
  text-decoration: none;
}

.icons a:hover {
  color: inherit;
}
